# IDE specific folder
# .vscode

# if symbolic link
notes
# if folder
notes/

dumps/

# for development purposes
test.sh

drupal/private-files/*
!drupal/private-files/.gitkeep
!drupal/private-files/.htaccess
